body{
    overflow-x:hidden;
}
header{
    position:fixed;
    width:100%;
    height:120px;
    top:0;
    left:0;
    background:black;
}
h1{
    position:fixed;
    width:100%;
    top:20px;
    color:white;
    text-align:center;
}
.affichage{
    margin-top:150px;
}
.affichage a{
    position:relative;
    display:block;
    height:200px;
    width:200px;
    color:white;
    text-decoration:none;
    overflow-x:hidden;
}
.dest{
    position:absolute;
    width:100%;
    left:0;
    top:70%;
    text-align:center;
    background:black;
}
.prix{
    position:absolute;
    width:100%;
    left:0;
    top:82%;
    text-align:center;
    background:black;
}