body {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    flex-wrap: 1;
}

header {
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    background:#252626;
    z-index: 100;
}

nav {
    height: 40px;
    border-bottom: 1px solid white;
}

.navbar-toggler {
    margin-top: -10px;
}

h1 {
    position: fixed;
    width: 100%;
    top: 40px;
    color: white;
    text-align: center;
}

h2 {
    width: 100%;
    text-align: center;
    color:#252626;
}

.affichage {
    margin-top: 150px;
}

.affichage a {
    position: relative;
    display: block;
    height: 200px;
    width: 200px;
    color: white;
    text-decoration: none;
    overflow-x: hidden;
}

.dest {
    position: absolute;
    width: 100%;
    left: 0;
    top: 70%;
    text-align: center;
    background: rgb(34, 75, 170);
}

.prix {
    position: absolute;
    width: 100%;
    left: 0;
    top: 82%;
    text-align: center;
    background: rgb(34, 75, 170);
}

.col-3 {
    position: relative;
    margin-bottom: 20px;
}

footer {
    position: relative;
    min-height: 120px;
    width: 100%;
    margin-top: 200px;
    bottom: 0;
    background:#252626;
}

.affichage {
    margin-top: 150px;
}

.affichage a {
    position: relative;
    display: block;
    height: 200px;
    width: 200px;
    color: white;
    text-decoration: none;
    overflow-x: hidden;
}

.dest {
    position: absolute;
    width: 100%;
    left: 0;
    top: 70%;
    text-align: center;
    background: black;
}

.prix {
    position: absolute;
    width: 100%;
    left: 0;
    top: 82%;
    text-align: center;
    background: black;
}

.about {
    height: 400px;
    width: 600px;
    text-align: center;
    transform: translate(60%, 20%);

    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.col-3 m-3 {
    height: 50px;
    width: 50px;
    background-color: aqua;
}

.containerAdmin {
    height: auto;
    width: auto;
    background-color: rgb(213, 213, 245);
    padding-top: 20px;
    padding-left: 20px;
}

input[type="text"],
textarea,
input[type="checkbox"],
input[type="number"],
select {
    margin-bottom: 10px;
}
select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}
select:hover {
    border-color: #555;
}
.destination-info {
    height: 200px;
    width: 600px;
    margin-top: 20px;
    margin-left: 20px;
}
h2 {
    border-bottom: 1px solid #007bff;
    padding-bottom: 10px;
    width: 100%;
}


.background {
    position: relative;
    height: 500px;
    width: 105%;
    left: -15px;
}

#slider {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: black;
}

#slider img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 1s ease;
}

#slider img.active {
    opacity: 1;
}
.title{
    position:absolute;
    top:250px;
    left:20%;
    color:white;
    z-index:150;
    opacity:1;
}