*{
    font-family:Helvetica, sans-serif;
}
body{
    margin:0;
    padding:0;
    min-height:100vh;
    width:100vw;
}
.messagerie{
    width:350px;
    height:430px;
    margin-top:100px;
    margin-left:calc(100% - 370px);
    text-align:left;
    border:1px solid lightgray;
}
.msg{
    position:relative;
    width:340px;
    height:300px; 
    padding:5px;
    overflow-y:auto;
}
form{
    background:grey;
    padding-bottom:5px;
}
input[type=text]{
    margin-top:5px;
}
#mymsg{
    width:340px;
    height:50px;
}
