body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.messagerie {
    margin-top: 20px;
    text-align: left;
}

.msg {
    position: relative;
    height: 300px;
    padding: 5px;
    border: 1px solid rgb(34, 75, 170);
    color:#252626;
    overflow-y: auto;
}
header{
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.5);
    transition:all 0.3s linear;
    z-index: 200;
}
.header2{
    background:#252626;
}

nav {
    height: 40px;
    border-bottom: 1px solid white;
}

.navbar-toggler {
    margin-top: -10px;
}

h1 {
    position: fixed;
    width: 100%;
    top: 40px;
    color:white;
    text-align: center;
}

.bg {
    height: 350px;
    margin-top: 0px;
    margin-bottom: 25px;
    background: url('../images/rio.jpg')top center fixed no-repeat;
    background-size: cover;
}

h2 {
    font-size: 40px;
    margin-top: 20px;
    color: white;
}
.agence {
    position: relative;
    height:200px;
    background:#252626;
}
.agence p {
    color:white;
}
.destination {
    height: 250px;
    margin-top: 20px;
    border-radius: 5px;
}

h4 {
    position: relative;
    top: 50px;
    width:50%;
    left:25%;
    height:50px;
    text-align: center;
    background:#252626;
    color: white;
    line-height:50px;
    border-radius:5px;
}

.destination p {
    position: relative;
    top: 50px;
    width:50%;
    left:25%;
    height: 50px;
    text-align: center;
    background:#252626;
    color: white;
    line-height:50px;
    border-radius:5px;
}

form {
    position: relative;
    width: 100%;
    background:#252626;
    padding: 5px;
    color:white;
}

input[type=text] {
    margin-top: 5px;
}

input[type=number] {
    width: 50px;
}

#mymsg {
    width: 100%;
    height: 50px;
}
.logo {
    position:absolute;
    height: 200px;
    width: 200px;
    top:0;
    left:0;
    z-index: 100;
}
@media screen and (max-width:800px){
    .logo{
        display:none;
    }
}